{% extends 'base.html.twig' %}

{% block title %}New Ad{% endblock %}

{% block body %}
    <h1>Create new Ad</h1>

    {{ include('admin/ad/_form.html.twig') }}

    <a href="{{ path('admin_ad_index') }}">back to list</a>
{% endblock %}
