<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <img src="/images/logo-white.png" alt="logo easyloc" class="img-fluid" style="width: 200px;"/>
            </div>
            <div class="col-12 col-sm-8">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="{{ path('resultat_search') }}" class="nav-link">Rechercher un deux roues</a></li>
                        <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link">Devenez loueur</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Conditions générale d'utilisation</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Mentions légales</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>