{% extends 'base_admin.html.twig' %}

{% block title %}Edit Rental{% endblock %}

{% block body %}
    <h1>Edit Rental</h1>

    {{ include('admin/rental/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_rental_index') }}">back to list</a>

    {{ include('admin/rental/_delete_form.html.twig') }}
{% endblock %}
