{% extends 'base.html.twig' %}

{% block title %}New Rental{% endblock %}

{% block body %}
    <h1>Create new Rental</h1>

    {{ include('admin/rental/_form.html.twig') }}

    <a href="{{ path('admin_rental_index') }}">back to list</a>
{% endblock %}
