@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "vendor/google-icons.css";
@import "vendor/bootstrap/bootstrap";

@function pxToRem($value) {
  @return ($value / 16) + rem;
}

@import "partials/header";
@import "partials/home";

* {
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  background: $dark;
}
