{% extends 'base_admin.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	<h1>Admin Dashboard</h1>

	<div class="row">
		<div class="col-xl-3 col-lg-6">
			<div class="card h-100 mb-4 mb-xl-0" style="background-color:#3D8BFD;color:#fff">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<h5 class="card-title text-uppercase mb-0">Total Users</h5>
							<span class="h2 font-weight-bold mb-0">{{totalUsers}}</span>
						</div>
						<div class="col-auto">
							<div class="icon icon-shape bg-dark text-white rounded-circle shadow">
								<i class="fa-solid fa-user p-3" style="font-size:2rem"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-lg-6">
			<div class="card h-100 mb-4 mb-xl-0" style="background-color:#4DD4AC;color:#fff">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<h5 class="card-title text-uppercase mb-0">Total Owners</h5>
							<span class="h2 font-weight-bold mb-0">{{totalOwners}}</span>
						</div>
						<div class="col-auto">
							<div class="icon icon-shape bg-dark text-white rounded-circle shadow">
								<i class="fa-solid fa-user-shield p-3" style="font-size:2rem"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-lg-6">
			<div class="card h-100 mb-4 mb-xl-0" style="background-color:#DE5C9D;color:#fff">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<h5 class="card-title text-uppercase mb-0">Total Motorcycles</h5>
							<span class="h2 font-weight-bold mb-0">{{totalMotorcycles}}</span>
						</div>
						<div class="col-auto">
							<div class="icon icon-shape bg-dark text-white rounded-circle shadow">
								<i class="fa-solid fa-motorcycle p-3" style="font-size:2rem"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-lg-6">
			<div class="card h-100 mb-4 mb-xl-0" style="background-color:#E35D6A;color:#fff">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<h5 class="card-title text-uppercase mb-0">Total Rentals</h5>
							<span class="h2 font-weight-bold mb-0">{{totalRentals}}</span>
						</div>
						<div class="col-auto">
							<div class="icon icon-shape bg-dark text-white rounded-circle shadow">
								<i class="fas fa-chart-bar p-3" style="font-size:2rem"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>


{% endblock %}
