<div class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ path('admin_default') }}">EasyLoc</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="flex-direction: row;">
		<li class="nav-item nav-link">
			Admin
		</li>
		<li class="nav-item text-nowrap">
			<a class="nav-item nav-link px-3" href="{{ path('app_logout') }}">Sign out</a>
		</li>
	</ul>
</div>
