{% extends 'base.html.twig' %}
{% block title %}Location Success{% endblock %}
{% block body %}
<h1> Votre demande de location a été prise en compte, vous aller recevoir un mail de confirmation</h1>
{% endblock %}