<form method="post" action="{{ path('dashboard_rental_delete', {'id': rental.id}) }}" onsubmit="return confirm('Etes vous sure de annuler cette réservation ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rental.id) }}">
	<button class="btn">
		<i class="bi bi-archive-fill icon-delete"></i>
	</button>
</form>
