{% extends 'base_dashboard.html.twig' %}

{% block title %}New Rental
{% endblock %}

{% block body %}
	<h1>Create new Rental</h1>

	{{ include('dashboard/rental/_form.html.twig') }}

	<a href="{{ path('dashboard_rental_index') }}">back to list</a>
{% endblock %}
