<div style="display: flex;justify-content: center;align-items: center;">
    <img src="http://easylocmoto.fr/images/logo-black.png" width="93px" height="53px">
    <span>EasyLoc</span>
</div>
<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;align-content: center">
    <h1>Merci pour votre Inscription , veuillez Confirmer votre mail</h1>
    <p>Bonjour {{ user.firstname }},</p>
    <p>Vous pouvez louer vos moto préférer ou mettre en location vos moto sur notre site en validant votre mail</p>
    <p><a href="{{ signedUrl }}">Confirm my Email</a>.
        Ce lien expira dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
</div>