<div style="display: flex;justify-content: center;align-items: center;">
    <img src="/images/logo-black.png">
    <span>EasyLoc</span>
</div>
<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;align-content: center">
    <h1>Confirmation Moto</h1>
    <p>Bonjour, {{ user.lastname }}</p>
    <p>Votre Location a bien été enregistrer, le propriétaire validerait la location sous 24h.</p>
</div>
