<form method="post" action="{{ path('dashboard_motorcycle_delete', {'id': motorcycle.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ motorcycle.id) }}">
	<button class="btn btn-danger btn-sm" type="submit">Supprimer</button>
</form>
