{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit Motorcycle
{% endblock %}

{% block body %}
	<h1>Edit Motorcycle</h1>

	{{ include('dashboard/motorcycle/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('dashboard_motorcycle_index') }}">back to list</a>

	{{ include('dashboard/motorcycle/_delete_form.html.twig') }}
{% endblock %}
