.header {
  &.home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 2rem;

    img {
      filter: brightness(1);
    }
    a:not(.btn), span, .header__logo__title {
      color: $white;
    }
    .header__user__profile {
      border-color: $white;
    }

    &.scrolled {
      background: $white;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      box-shadow: 0 0 2px 0 #0000001c;
      .header__logo__img {
        scale: 0.8;
      }
      img {
        filter: brightness(0);
      }
      a:not(.btn), span, .header__logo__title {
        color: $dark;
      }
      .header__user__profile {
        border-color: $dark;
      }
    }
  }
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 150ms ease-in;
  z-index: 15;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    text-decoration: none;
    &__img{
      width: 5.75rem;
      filter: brightness(0);
    }
    &__title{
      font-size: pxToRem(24);
      font-weight: 600;
      color: $black;
    }
  }
  &__menu{
    &__list{
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      &__item{
        margin-right: 2rem;
        &:last-child{
          margin-right: 0;
        }
        &__link{
          color: $black;
          font-size: pxToRem(18);
          text-decoration: none;
          &:hover{
            color: lighten($black, 10%);
          }
        }
      }
    }
  }
  &__user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__login{
      margin-right: 1.25rem;
    }
    &__profile{
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border-radius: 50rem;
      border: 2px solid $black;
      width: pxToRem(45);
      height: pxToRem(45);
      &__icon{
        font-size: 1.75rem;
        color: $black;
      }
    }
  }
}
