.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 2rem;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    text-decoration: none;
    &__img{
      width: 5.75rem;
    }
    &__title{
      font-size: pxToRem(24);
      font-weight: 600;
      color: white;
    }
  }
  &__menu{
    &__list{
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      &__item{
        margin-right: 2rem;
        &:last-child{
          margin-right: 0;
        }
        &__link{
          color: $white;
          font-size: pxToRem(18);
          text-decoration: none;
          &:hover{
            color: darken($white, 10%);
          }
        }
      }
    }
  }
  &__user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__login{
      margin-right: 1.25rem;
    }
    &__profile{
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border-radius: 50rem;
      border: 2px solid $white;
      width: pxToRem(45);
      height: pxToRem(45);
      &__icon{
        font-size: 1.75rem;
        color: $white;
      }
    }
  }
}
