{% extends 'base_dashboard.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block PageHeading %}Dashboard
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h3>Bienvenue dans votre espace personnel <strong>{{app.user.firstname}}</strong> !</h3>
	</div>
{% endblock %}
