{% extends 'base_dashboard.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block PageHeading %}Dashboard
{% endblock %}

{% block content %}

	<div class="example-wrapper">
		<h3>Welcome
			{{app.user.email}}
		</h3>
	</div>
{% endblock %}
