{% extends 'base_dashboard.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block PageHeading %}Dashboard
{% endblock %}

{% block body %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	<div class="example-wrapper">
		<h3 class="mb-5">Bienvenue dans votre espace personnel <strong>{{app.user.firstname}}</strong> !</h3>
		<div class="card">
			<div class="card-header">
				Ajout rapide
			</div>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<a href="{{ path('dashboard_motorcycle_new') }}" class="btn btn-success">Ajouter une moto</a>
					<a href="{{ path('dashboard_rental_index') }}" class="btn btn-primary">Voir vos locations</a>
				</blockquote>
			</div>
		</div>
	</div>
{% endblock %}
