{% extends 'base.html.twig' %}

{% block body %}
	<h1>Page not found</h1>

	<p>
		La page demandée est introuvable. Commander pour n'importe quelle URL
        faute d'orthographe ou <a href="{{ path('homepage') }}">retour à la page d'accueil</a>.
	</p>
{% endblock %}
